<!doctype html>
<html>

<head>
  <link rel="stylesheet/less" type="text/css" href="styles.less" />
  <script src="https://cdn.jsdelivr.net/npm/less@2.7.2/dist/less.min.js"></script>


  <script src="https://cdn.jsdelivr.net/npm/angular@1.6.6/angular.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/moment@2.19.1/moment.min.js"></script>
  <script src="index.js"></script>


</head>

<body ng-app="timesheetApp">

  <main ng-controller="TimesheetController as timesheet">

    <h3>Timesheet calculator</h3>

    <div class="week-picker">
      <label for="weekStarting">Week Starting:</label>
      <input id="weekStarting" ng-model="timesheet.weekStarting" type="date">
    </div>

    <div class="table">
        <div class="head">
          <div></div>
          <div ng-repeat="day in timesheet.daysOfWeek">{{day}}</div>
        </div>

        <div class="row">
          <div><strong>Start</strong></div>
          <div ng-repeat="day in timesheet.daysOfWeek" class="input-group">
            <input type="number" placeholder="HH">
            <input type="number" placeholder="mm">
          </div>
        </div>

        <div class="row">
          <div><strong>End</strong></div>
          <div ng-repeat="day in timesheet.daysOfWeek" class="input-group">
            <input type="number" placeholder="HH">
            <input type="number" placeholder="mm">
          </div>
        </div>

        <div class="row">
          <div><strong>Hours</strong></div>
          <div ng-repeat="day in timesheet.daysOfWeek"></div>
        </div>
    </div>


    <div><strong>Total Hours: </strong>{{ timesheet.totalHours }}</div>

  </main>



</body>
</html>