<!doctype html>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  
  <title>time-calc</title>

  <link rel="stylesheet/less" type="text/css" href="styles.less" />
  <script src="https://cdn.jsdelivr.net/npm/less@2.7.2/dist/less.min.js"></script>


  <script src="https://cdn.jsdelivr.net/npm/angular@1.6.6/angular.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/moment@2.19.1/moment.min.js"></script>
  <script src="index.js"></script>


</head>

<body ng-app="timesheetApp">

  <main ng-controller="TimesheetController as ctrl">

    <h3>Timesheet calculator</h3>

    <div class="week-picker">
      <label for="weekStarting">Week Starting:</label>
      <input id="weekStarting" ng-model="ctrl.weekStarting" type="date" ng-change="ctrl.initDaysOfWeek();">
    </div>

    <div class="table">
        <div class="head">
          <div></div>
          <div ng-repeat="day in ctrl.daysOfWeek" ng-class="{'weekend': day.isWeekend }">{{day.moment.toDate() | date: 'EEEE'}}</div>
        </div>

        <div class="row">
          <div><strong>Start</strong></div>
          <div ng-repeat="day in ctrl.daysOfWeek track by $index" class="input-group">
            <input type="number" placeholder="HH" ng-model="day.startHour" ng-change="ctrl.calculateWorkHours(day)" tabindex="{{$index+1}}">
            <input type="number" placeholder="mm" ng-model="day.startMinute" ng-change="ctrl.calculateWorkHours(day)" tabindex="{{$index+1}}">
          </div>
        </div>

        <div class="row">
          <div><strong>End</strong></div>
          <div ng-repeat="day in ctrl.daysOfWeek track by $index" class="input-group" >
            <input type="number" placeholder="HH" ng-model="day.endHour" ng-change="ctrl.calculateWorkHours(day)" tabindex="{{$index+1}}">
            <input type="number" placeholder="mm" ng-model="day.endMinute" ng-change="ctrl.calculateWorkHours(day)" tabindex="{{$index+1}}">
          </div>
        </div>

        <div class="row">
          <div><strong>Hours</strong></div>
          <div ng-repeat="day in ctrl.daysOfWeek">{{day.totalHours.toFixed(2) }}</div>
        </div>
    </div>


    <div>Total Hours: <strong>{{ ctrl.totalHours.toFixed(2) }}</strong></div>

  </main>



</body>
</html>